language: bash
sudo: true
addons:
  apt:
    packages:
    - shellcheck
services:
  - docker
script:
  - bash -c 'shopt -s globstar; shellcheck **/*.sh'
  - docker build -f Dockerfile.dev -t minio/mint:travis-$TRAVIS_PULL_REQUEST_SHA .
matrix:
  fast_finish: true
